{% extends 'base.html'%}
{% load static %}

{% block content %}

    <div class="center mt-5">
        <center>
            <h1>Password Reset</h1>
            <hr>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <center><h4 style="color: firebrick;">{{message}}</h4></center>
                {% else %}
                    <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        </center>
        <div class="container-lg mt-3">
            <div class="row justify-content-center">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6">

                    <form method="POST" class="container p-4 shadow-lg rounded-3 bg-light">
                        {% csrf_token %}
                    
                       <div class="container">
                        <center> <h3 class="text-center">Forgot Your Password?</h3>
                            <p>Enter your email to reset password</p></center>
                       </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" required name="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    
                        <div class="text-center mt-3">
                            <p>Not a member? <a href="{% url 'users:register' %}">Signup</a></p>
                            <p>Remember your password? <a href="{% url 'users:login' %}">Login</a></p>
                        </div>
                    </form>

                </div>
                <div class="col-sm-3">

                </div>
            </div>
        </div>
        
    </div>



{% endblock %}