{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="center">
    <h1>Reset Password</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{message}}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
          
    <form method="POST" class="container p-4 shadow-lg rounded-3 bg-light">
        {% csrf_token %}
    
        <h3 class="text-center mb-4">Reset Your Password</h3>
    
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" required name="password" class="form-control" id="password" placeholder="Enter new password">
        </div>    
    
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" required name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm new password">
        </div>    
    
        <button type="submit" class="btn btn-primary">Reset Password</button>
    
        <div class="text-center mt-3">
            <p>Remember your password? <a href="{% url 'users:login' %}">Login</a></p>
        </div>
    </form>
      </div>
  

{% endblock %}